<div class="app-container">
  <mat-form-field
    appearance="outline"
    class="filter">
    <mat-label>Filter results</mat-label>
    <input
      matInput
      [formControl]="searchControl"
      type="text">
    <button
      *ngIf="searchControl.value"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a
      mat-tab-link
      (click)="showAll()"
      [active]="!showFavorites">
      All Videos
    </a>
    <a
      mat-tab-link
      (click)="showOnlyFavorites()"
      [active]="showFavorites">
      Favorites
      ({{ favoritesCount }})
    </a>
  </nav>

  <div class="videos-container">
    <app-video-details
      *ngFor="let video of videos$|async"
      class="video-details"
      [video]="video"
      [isFavorite]="isFavorite(video)"
      (toggleFavorite)="toggleFavorite($event)">
    </app-video-details>
  </div>

  <div
    *ngIf="nextPageToken"
    class="load-more">
    <button
      mat-flat-button
      [disabled]="isLoading"
      color="primary"
      type="button"
      (click)="loadMore()">
      Load more
    </button>
  </div>
</div>
