<div class="app">
  <nav
    class="custom-tab-links"
    mat-tab-nav-bar>
    <a
      mat-tab-link
      (click)="showAll()"
      [active]="!showFavorites">
      All Videos
    </a>
    <a
      mat-tab-link
      (click)="showOnlyFavorites()"
      [active]="showFavorites">
      Favorites
    </a>
  </nav>

  <div class="videos-container">
    <app-video-details
      *ngFor="let video of videos$|async"
      class="video-details"
      [video]="video"
      [isFavorite]="isFavorite(video)"
      (toggleFavorite)="toggleFavorite($event)">
    </app-video-details>
  </div>

  <div class="load-more">
    <button
      mat-flat-button
      type="button"
      (click)="loadMore()">
      Load more
    </button>
  </div>
</div>
