@import '../../../styles.scss';

:host {
  display: block;
}

.video-card {
  display: flex;
  background: mat-color($primary, 200);
}

.video-preview {
  height: 150px;
  width: 200px;

  img {
    height: 100%;
  }
}


.content {
  margin: 0 var(--space-s);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-size: 1.2em;
  }

  .actions {
    display: flex;

    button {
      margin: var(--space-xs);
    }
  }
}
