<mat-card class="video-card">
  <div class="video-preview">
    <img
      [src]="video.previewImage"
      [alt]="video.title">
  </div>
  <div class="content">
    <div class="title">{{ video.title }}</div>

    <div class="actions">
      <button
        color="primary"
        mat-flat-button>
        <mat-icon>launch</mat-icon>
      </button>
      <button
        mat-flat-button
        color="accent"
        (click)="toggleFavorite.emit(video)">
        <mat-icon>{{ isFavorite? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
